<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fme">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.audisankara.fme.splashscreen"
            android:exported="true"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.audisankara.fme.mainactivity"></activity>
        <activity android:name="com.audisankara.fme.semester"></activity>
        <activity android:name="com.audisankara.fme.cse_sem1"></activity>
        <activity android:name="com.audisankara.fme.cseds_sem1"></activity>
        <activity android:name="com.audisankara.fme.cseai_sem1"></activity>
        <activity android:name="com.audisankara.fme.ece_sem1"></activity>
        <activity android:name="com.audisankara.fme.eee_sem1"></activity>
        <activity android:name="com.audisankara.fme.mech_sem1"></activity>
        <activity android:name="com.audisankara.fme.civil_sem1"></activity>
        <activity android:name="com.audisankara.fme.content"></activity>
        <activity android:name="com.audisankara.fme.display"></activity>
        <activity android:name="com.audisankara.fme.cse_sem2"></activity>
        <activity android:name="com.audisankara.fme.cseai_sem2"></activity>
        <activity android:name="com.audisankara.fme.cseds_sem2"></activity>
        <activity android:name="com.audisankara.fme.ece_sem2"></activity>
        <activity android:name="com.audisankara.fme.eee_sem2"></activity>
        <activity android:name="com.audisankara.fme.civil_sem2"> </activity>
        <activity android:name="com.audisankara.fme.mech_sem2"></activity>
    </application>
</manifest>
